<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cygnetmed.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="cygnetmed.My.MySettings.db_cygnetmedConnectionString"
            connectionString="server=localhost;user id=root;password=root;database=cygnetmed"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <cygnetmed.My.MySettings>
            <setting name="theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="archived_user" serializeAs="String">
                <value>cygnetmed</value>
            </setting>
            <setting name="archived_pass" serializeAs="String">
                <value>cygnetmed</value>
            </setting>
        </cygnetmed.My.MySettings>
    </userSettings>
</configuration>
